doctype html
head
  title Login - UbiconLabs
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='shortcut icon', href='https://unhas.ac.id/assets/img/favicon.png')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='login_style/vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='login_style/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='login_style/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='login_style/vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='login_style/vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='login_style/vendor/animsition/css/animsition.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='login_style/vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='login_style/vendor/daterangepicker/daterangepicker.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='login_style/css/util.css')
  link(rel='stylesheet' type='text/css' href='login_style/css/main.css')
  // ===============================================================================================
.limiter
  .container-login100
    .wrap-login100
      .login100-form-title(style='background-image: url(login_style/images/bg-01.jpg);')
        span.login100-form-title-1
        img(style='width:10%' src='https://upload.wikimedia.org/wikipedia/id/9/95/Logo_UH.png')
        span.login100-form-title-1
          | Sign In
      form.login100-form.validate-form(method='POST' action='/login')
        input(type='hidden' name='_csrf' value='_csrf')
        .wrap-input100.validate-input.m-b-26(data-validate='Username is required')
          span.label-input100 Username
          input#email.input100(type='email' name='email' placeholder='Enter Email')
          span.focus-input100
        .wrap-input100.validate-input.m-b-18(data-validate='Password is required')
          span.label-input100 Password
          input#password.input100(type='password' name='password' placeholder='Enter password')
          span.focus-input100
        .flex-sb-m.w-full.p-b-30
          .contact100-form-checkbox
            input#ckb1.input-checkbox100(type='checkbox' name='remember-me')
            a.txt1(href='/signup')
              | Sign up
          div
            a.txt1(href='/forgot')
              | Forgot Password?
        .container-login100-form-btn
          input.login100-form-btn(type='submit')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
// ===============================================================================================
script(src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='vendor/animsition/js/animsition.min.js')
// ===============================================================================================
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='vendor/select2/select2.min.js')
// ===============================================================================================
script(src='vendor/daterangepicker/moment.min.js')
script(src='vendor/daterangepicker/daterangepicker.js')
// ===============================================================================================
script(src='vendor/countdowntime/countdowntime.js')
// ===============================================================================================
script(src='js/main.js')
