footer.py-5.bg-dark(style='height:auto; background-color:#343a40; position:absolute; width:100%')
  .container
    p.m-0.text-center.text-white(style="color:#fff!important") Copyright &copy; 2020 Universitas Hasanuddin, Makassar. Design by Admin
  // /.container
