extends ../layout

block content
  .container
    .page-header(data-id=ex._id)
      h3 Edit Course

    if (user.role == 'teacher')
      .form-horizontal
        .form-group
          label.col-sm-2.control-label(for='classId') Title
          .col-sm-9
            input.form-control(type='text', name='title', id='title', placeholder='Title', value=ex.title)
        .form-group
          label.col-sm-2.control-label(for='classId') Order
          .col-sm-9
            input.form-control(type='text', name='order', id='order', placeholder='Order', value=ex.order)
        .form-group
          label.col-sm-2.control-label(for='summernote') Content
          .col-sm-9
            - var text = ex.course
            textarea.form-control(name='course', id='summernote', placeholder='Content')=text
              

        .form-group
          .col-sm-offset-2.col-sm-4
            button#bt-update.col-sm-6.btn.btn-primary
              i.fa.fa-plus
              | Update Course

append end-script
  script.
    $(document).ready(function() {
    $('#summernote').summernote({
      height: 300,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'italic', 'underline', 'clear']],
          ['fontname', ['fontname']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'hr']],
          ['insert', ['prettyprint']],
          ['view', ['fullscreen', 'codeview']],
          ['help', ['help']]
        ]
    });
    });
    $('#bt-update').click(function() {
        var updateCourse = {
            title: $('#title').val(),
            course: $('#summernote').val(),
            order: $('#order').val()
        };
        fetch('/course/'+$('.page-header').data('id'), {
            method: 'PUT', // or 'PUT'
            body: JSON.stringify(updateCourse),
            credentials: 'include',
            headers: new Headers({
            'Content-Type': 'application/json',
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
            })
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => {console.log('Success:', response); window.location.href = '/course';}); 
    })        
