extends ../layout

block content
  .container
    .page-header

  .container
    .row
      .col-md-8
        h3 Course List 
      if (user.role == 'teacher' || user.role == 'admin')
      .col-md-4
        button.col-sm-5.btn.btn-primary(style="margin-left:50%" type='button' data-toggle='modal' data-target='#exampleModalCenter')
          i.fa.fa-plus-circle
          | Add Course 
    each c in courses
      .col-md-4(style="padding:1%")
        //-   .card(style='width: 18rem;')
        //-   img.card-img-top(src='https://img.jakpost.net/c/2018/08/09/2018_08_09_51037_1533802003._large.jpg' alt='Card image cap')
        //-   .card-body
        //-     a.nounderline(href='/course/' + c.id) #{c.title}&nbsp
        //-     if (user.role == 'teacher' || user.role == 'admin')
        //-         span.pull-right 
        //-           //a.badge(href='/class' style="margin-right:5px;") Classes    
        //-           a(href='#',style="margin-right:5px;", onclick='deleteId(\'' + c.id + '\')')  
        //-             i.fa.fa-trash(style='color: red') 
        //-           //- a.btn.btn-link(href='/course/delete/' + c.id)  Delete      
        .card(style="border:solid 2px grey; border-radius:10px")
          .card-header
            if(c.status == true)
              span.badge.badge-success(style="color:#25e622") Published
            else 
              span.badge.badge-danger Archieved
            if(c.image)
              img.bd-placeholder-img.card-img-top(width='100%' height='180' src='image/'+ c.image)
            else
              img.bd-placeholder-img.card-img-top(width='100%' height='180' src='https://img.jakpost.net/c/2018/08/09/2018_08_09_51037_1533802003._large.jpg')
          .card-body
            h4.card-title.text-dark #{c.title}
            br
            //- p.card-text With supporting text below as a natural lead-in to additional content.
            
            center
            a.btn.btn-sm.btn-primary(href='/course/' + c.id) 
              | Go To Course     
              span.fa.fa-arrow-right   
            //- .col-md-6
            a.btn.btn-sm.btn-danger(href='#',style="margin-left:1px;", onclick='deleteId(\'' + c.id + '\')')  
              | Delete  
              span.fa.fa-trash 
            if (c.status == 1)
              a.btn.btn-sm.btn-info(href='#',style="margin-left:1px;", onclick='archieved(\'' + c.id + '\')')  
                | Archived  
                span.fa.fa-archive
            else
              a.btn.btn-sm.btn-success(href='#',style="margin-left:1px;", onclick='publish(\'' + c.id + '\')')  
                | Publish  
                span.fa.fa-upload 
                


  #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
   form.form-horizontal(enctype='multipart/form-data')
    .modal-dialog.modal-dialog-centered.modal-add-course(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLongTitle.modal-title Course Title : 
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form-horizontal
          .form-group
            .col-sm-12
              input.form-control(type='text', name='title', id='title', placeholder='Course Title',autocomplete='off')
          .form-group
            .col-sm-2
              label(for="inlineCheckbox1" class="form-check-label") Semester: 
            .col-sm-6
              input(type='checkbox' id="js-semester" checked='' data-toggle='toggle' data-on='Awal' data-off='Akhir' data-onstyle='success' data-offstyle='primary' data-width="50%" data-height="40px")
          //- .form-group
          //-   .col-sm-2
          //-     label(for="inlineCheckbox1" class="form-check-label") Image: 
          //-   .col-sm-6
          //-     input(type='file' name="myImage" id="js-image")
              
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button#bt-new.btn.btn-primary Save changes


append end-script
  script.
    function deleteId(id){
      var r = confirm("Are you sure want to delete this course?");
      if(r==true){
         window.location.href = '/course/delete/' + id;
      }
    }

    $('#bt-new').click(function() {
        var d = new Date();
        var n = d.getMonth();
        var currentSemester = n > 8 ? 'ganjil' : 'genap'

        var semesterValue = 'genap'
        //- $(".modal-add-course").find('#js-semester').on('change', function() {
        if ($(".modal-add-course").find('#js-semester').is(':checked')) {
            semesterValue = 'ganjil'
        }

        var statusValue = 0
        if(currentSemester === semesterValue){
          statusValue = 1
        }

        var formData = new FormData()
        //- formData.append('name', document.getElementById('name').value)     // the text data
        //- formData.append('avatar', document.getElementById('avatar').files[0]) 

        //- var files = $(this).closest('.modal-add-course').find('#js-image')[0].files;
        //- var files = $(this).closest('.modal-add-course').find('#js-image').get(0).files,
        formData = new FormData();

        var newCourse = {
            title: $(this).closest('.modal-add-course').find('#title').val(),
            author : '#{user._id}',
            order: 100,
            status: statusValue,
            semester : semesterValue
        };
        fetch('/course', {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(newCourse),
            credentials: 'include',
            headers: new Headers({
            'Content-Type': 'application/json',
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
            })
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response)); 
    })    

    function archieved(id){
      var r = confirm("Are you sure want to archieved this course?");
      if(r==true){
         window.location.href = '/course/archieved/' + id;
      }
    }

    function publish(id){
      var r = confirm("Are you sure want to publish this course?");
      if(r==true){
         window.location.href = '/course/publish/' + id;
      }
    }